@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap");

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #1b1b1b00, #1b1b1b 43%, #3c3b3b 100%),
    url("images/background-wallpaper.png") top/100% no-repeat #111010;
  font-family: "Fira Code";
}

a {
  text-decoration: none;
  color: white;
}

.header {
  position: sticky;
  top: 10px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #1b1b1b;
  border-radius: 20px;
  margin: 10px 300px 0px 300px;
  border: 2px solid white;
  box-shadow: 8px 8px 0px white;
}

.menu li {
  padding: 15px;
  font-size: 1.5em;
  list-style: none;
}

.home-container {
  display: flex;
  height: 500px;
}

.career-container {
  display: flex;
  height: 500px;
}

.projects-container {
  display: flex;
  height: 500px;
}

.contact-container {
  display: flex;
  height: 500px;
}

.font-white {
  font-size: 3em;
  color: white;
}

.background-color {
  background-color: aqua;
}

.text-center {
  text-align: center;
}

.portfolio-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  border: 10px solid red;
}

.profile-container {
  text-align: center;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #fff;
  margin-bottom: 20px;
}

.name {
  font-size: 2em;
  margin-bottom: 10px;
}

.title {
  background-color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}

.social-links {
  margin-top: 20px;
}

.social-links a {
  margin: 0 10px;
  display: inline-block;
}

.social-links img {
  width: 40px;
  height: 40px;
}

.projects {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.project-box {
  background-color: #333;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: #fff;
}
