body {
  background-image: url("images/background-wallpaper.png");
  /* background-size: cover; */
  background-color: #1b1b1b;
  /* background-repeat: no-repeat; */
}

.font-black {
  font: bold;
  font-family: "Courier New", Courier, monospace;
  font-size: 500%;
  color: white;
}

.font-lorem {
  font: bold;
  font-family: "Courier New", Courier, monospace;
  font-size: 200%;
  color: white;
}
