@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --outline: #55505c 0 0 0 3px, #55505c 7px 7px 0 3px;
  --border-radius: 15px;
  --offwhite: #ffffe4;
  --gray: #55505c;
  --lightyellow: #faf33e50;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: var(--gray);
  background-color: var(--lightyellow);
}

a {
  text-decoration: none;
  color: var(--gray);
}

.header {
  position: sticky;
  top: 10px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: var(--border-radius);
  margin: 0 200px 0 200px;
  box-shadow: var(--outline);
  background-color: var(--lightgreen);
}

.menu li {
  padding: 15px;
  font-size: 1.2em;
  list-style: none;
}

.home-container {
  display: flex;
  align-items: center;
  padding-top: 30px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.profile-container {
  display: flex;
  align-items: inherit;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  padding: 20px;
}

.profile-image {
  border-radius: 50%;
  box-shadow: var(--gray) 0 0 0 5px, var(--gray) 20px 0 0 5px;
  max-width: 100%;
  width: 300px;
  height: auto;
  /*margin-top: 20px;*/
}

.profile-container h1 {
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 30px;
  border-radius: var(--border-radius);
  box-shadow: var(--outline);
  background-color: var(--lightgreen);
  padding: 15px 80px 15px 80px;
}

.profile-container h2 {
  font-size: 1.2em;
  font-weight: 200;
  margin-top: 30px;
  border-radius: var(--border-radius);
  box-shadow: var(--outline);
  background-color: var(--lightgreen);
  padding: 15px 40px 15px 40px;
}

.github-logo {
  margin: 50px 50px 0 0;
  width: 70px;
  border-radius: var(--border-radius);
  box-shadow: var(--outline);
  background-color: var(--lightgreen);
  padding: 10px;
}

.linkedin-logo {
  margin-top: 50px;
  width: 70px;
  border-radius: var(--border-radius);
  box-shadow: var(--outline);
  background-color: var(--lightgreen);
  padding: 5px;
}

.description-container {
  padding: 20px;
  max-width: 900px;
}

.description {
  border-radius: var(--border-radius);
  box-shadow: var(--outline);
  background-color: var(--lightgreen);
  margin: 30px;
  padding: 30px;
  font-size: 1.2em;
  text-align: justify;
}

.skills {
  border-radius: var(--border-radius);
  box-shadow: var(--outline);
  background-color: var(--lightgreen);
  margin: 30px;
  padding: 30px;
  font-size: 1.2em;
}

@media screen and (max-width: 500px) {
  /*.header {*/
  /*  display: none;*/
  /*}*/

  .home-container {
    gap: 2%;
  }

  .profile-container {
    width: 100%;
  }
}


@media screen and (max-width: 1000px) {
  .header {
    display: none;
  }
}



